<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                              https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <!-- SERVERS — credentials for uploading artifacts -->
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>jenkins-deploy</username>
      <password>Huawei@100</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>jenkins-deploy</username>
      <password>Huawei@100</password>
    </server>
  </servers>

  <!-- MIRRORS — redirect ALL Maven dependency downloads through Nexus -->
  <mirrors>
    <mirror>
      <id>nexus-mirror</id>
      <name>Nexus Repository Manager</name>
      <url>http://localhost:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
